/* CSS file */
.HangmanCategoryLabel {
	fontFamily: "BPreplay";
}
.HangmanTileList
{
	backgroundAlpha: 0;
	backgroundColor: #377AA6;
	borderStyle: none;
	selectionColor: #FF6600;
	rollOverColor: #31AFFF;
}
.HangmanRadio
{
	color: #FFFFFF;
	fontFamily: Arial;
	textRollOverColor: #F2F2F2;
	textSelectedColor: #DDEAF0;
}
.filterCombo {
	dropdownStyleName: "dropdown";
	color: #C6C6C6;
	borderColor: #333333;
	fillAlphas: 1.0, 1.0;
	fillColors: #3D3D3D, #2C2C2C, #505050, #6A6A6A;
	themeColor: #B4B4B4;
}
.dropdown {
	color: #C6C6C6;
	backgroundColor: #333333;
	borderColor: #000000;
}