// Easing curves
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$green: #70bd34;

@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon.eot?t5let1');
	src:url('assets/fonts/icomoon.eot?#iefixt5let1') format('embedded-opentype'),
		url('assets/fonts/icomoon.woff?t5let1') format('woff'),
		url('assets/fonts/icomoon.ttf?t5let1') format('truetype'),
		url('assets/fonts/icomoon.svg?t5let1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-svg:before {
	content: "\e600";
}
.icon-close:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e601";
}

button, input, textarea, div {
	&:focus {outline: none;}
}

textarea {
	resize: none;
}

html, body {
	cursor: default;
	background: #232b2c;
	color: #fff;
	font-family: "Lato","Arial",sans-serif;
	margin: 0;
	padding: 0;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

ul {
	list-style-type: none;
}

button {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	color: #ddd;
	font-size: 13px;
	height: 33px;
	margin: 5px;
	padding: 8px;
	width: 130px;
	border: none;
	&:hover .descript, &:focus .descript {
		opacity: 1;
	}
	.descript {
		position: absolute;
		font-size: 13px;
		width: 90px;
		opacity: 0;
		padding: 5px;
		margin: -5px;
		transition: all 200ms;
	}
}

ul {
	position: relative;
	width: 825px;
	margin: auto;
	padding: 0;
	perspective: 800px;
	perspective-origin: 50% 100%;
	li {
		margin: 0 0 30px 0;
		height: 160px;
		transform-style: preserve-3d;
		&.titles {
			height: 60px;
			margin: 8px 0px;
		}
		&.item {
			&.ng-enter {
				transition: 1025ms all $easeOutExpo;
			}
			&.ng-leave {
				transition: 1025ms all $easeOutExpo;
				&.ng-leave-active {
					transform: rotateX(-180deg) translatez(30px);
					opacity: 0;
					height: 0;
					margin: 0 0;
				}
			}
			&.ng-enter {
				transform: rotateX(-180deg) translatez(30px);
				opacity: 0;
				height: 0;
				margin: 0 0;
				&.ng-enter-active {
					transform: rotateX(0) translatez(0);
					opacity: 1;
					height: 160px;
					margin: 0 0 30px 0;
				}
			}
			&.ng-leave {
				transform: rotateX(0) translatez(0);
				opacity: 1;
				height: 160px;
				margin: 0 0 30px 0;
			}
		}
		h3 {
			display: inline-block;
			position: absolute;
			text-align: center;
			font-family: 'Lato';
			font-weight: 100;
			font-size: 22px;
			width: 50%;
			&:nth-child(2) {
				left: 50%;
			}
		}
		img {
			height: 80px;
			position: absolute;
			bottom: 20px;
			left: -95px;
			transform: scale(0);
			transition: 500ms all $easeOutExpo;
			&.shown {
				transform: none;
			}
		}
		.num {
			position: absolute;
			padding: 20px;
			margin-left: -83px;
			line-height: 10px;
			font-size: 20px;
		}
		.word {
			right: 0;
		}
		.hint {
			.arrow-left {
				position: absolute;
				left: -30px;
				top: 95px;
				width: 0;
				height: 0;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-right: 30px solid #fff;
				transform-origin: 100% 50%;
				transform: scale(0);
				transition: 500ms all $easeOutExpo;
				&.shown {
					transform: none;
				}
			}
			position: absolute;
			width: 400px;
			height: inherit;
			background: #fff;
			border-radius: 20px;
		}
		.word {
			position: absolute;
			width: 400px;
			height: inherit;
			background: #fff;
			border-radius: 20px;
			background: none;
		}
		.hint textarea, .word textarea {
			box-sizing: border-box;
			font-family: "Purple Purse";
			border: none;
			font-size: 20px;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 15px;
			text-align: center;
			border-radius: 10px;
		}
		.word textarea {
			font-family: 'Montserrat';
			font-weight: 700;
			font-size: 24px;
		}
		.hint .alert, .word .alert {
			position: absolute;
			color: rgba(0, 0, 0, 0.7);
			font-family: 'Lucida Grande', arial, serif;
			font-size: 13px;
			bottom: 17px;
			left: 17px;
			opacity: 1;
			transition: all 200ms;
		}
		.hint .alert.hide, .word .alert.hide {
			opacity: 0;
		}
		.hint .alert span, .word .alert span {
			padding: 0 2px 0 0;
			font-size: 15px;
			color: #7f2626;
		}
		button.delete {
			right: -58px;
			width: 35px;
			margin-top: 13px;
		}
		.descript {
			top: 7px;
			left: 25px;
			color: rgba(255, 255, 255, 0.6);
		}
		button.add {
			left: 50%;
			margin: 0 0 0 -68px;
			transition: 200ms all;
			background: $green;
			color: #fff;
			border-radius: 0px;
			padding: 2px;
			height: 50px;
			width: 170px;
			font-family: 'Lato';
			font-weight: 300;
			font-size: 18px;

			margin-top: 60px;

			span {
				margin: 0px 3px;
			}
		}
	}
}


#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	font-family: 'Lato';
	font-weight: 300;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 10px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

.arrow_box {
	position: absolute;
	background: #fbf767;
	border: 2px solid #fbf767;
	left: 50%;
	top: 123px;
	color: #151515;
	font-weight: 400;
	padding: 5px;
	height: 50px;
	width: 150px;

	animation: pounce 1s infinite;

	span {
		display: inline-block;
		width: 140px;
		float: right;
		margin-top: 5px;
		margin-right: 12px;
		text-align: right;
	}
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 60px;
	margin-top: -60px;
}
.arrow_box:before {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 63px;
	margin-top: -63px;
}

@keyframes pounce {
	0% {
		margin-left: 160px;
	}
	50% {
		margin-left: 170px;
	}
	100% {
		margin-left: 160px;
	}
}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;

	font-family: 'Lato';
	font-weight: 300;

	border-bottom: solid 4px #fcf868;

	.bottom {
		position:absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px -8px;
		border-bottom: solid 8px #9ec100;
	}

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.center {
		position:absolute;
		margin-left: -25px;;
		left: 50%;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 100;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
	.sep {
		display: block;
		border-radius: 10px;
		width: 4px;
		height: 4px;
		position: absolute;
		right: 270px;
		top: 28px;
		background: #fff;
	}
	.attempts {
		position: absolute;
		right: 290px;

		p {
			position: absolute;
			display: inline-block;
			margin-left: -220px;
			top: -10px;
		}

		.numbers {
			top: 5px;
			font-size: 13px;
			span {
				padding-right: 42px;
				transition: 200ms;
				&.fade {
					opacity: 0;
				}
			}
		}
		.slide-btn {
			margin-top: 12px;
			.bar {
				height: 10px;
				width: 135px;
				background: #CCC;
				border-radius: 5px;
				&.pos-3 { .circle { transform: translate(0); }}
				&.pos-4 { .circle { transform: translate(30px); }}
				&.pos-5 { .circle { transform: translate(60px); }}
				&.pos-6 { .circle { transform: translate(90px); }}
				&.pos-7 { .circle { transform: translate(120px); }}
				.circle {
					position: absolute;
					z-index: 2;
					margin: -6px;
					height: 22px;
					width: 22px;
					background: #2980B9;
					border-radius: 100%;
					text-align: center;
					font-size: 13px;
					line-height: 22px;
					transition: 300ms all $easeOutExpo;
				}
			}
			.container {
				position: absolute;
				margin: -16px -6px;
				height: 25px;
				text-align: center;
				line-height: 20px;
				font-size: 13px;
				&.thr	{left:0}
				&.four {left:5px}
				&.five {left:35px}
				&.six	{left:65px}
				&.svn	{left:95px}
				.point {
					position: absolute;
					top: 0;
					height: 20px;
					width: 20px;
					margin: 1px;
					background: #CCC;
					color: #666;
					border-radius: 100%;
					&.thr	{left:0}
					&.four, &.five, &.six, &.svn {left:25px}
				}
			}
		}
	}
	.partial {
		position: absolute;
		top: 4px;
		right: 145px;
		font-family: "Lato";
		label.checktoggle {
			display: inline-block;
			width: 62px;
			height: 15px;
			background: #5a5a5a;
			padding: 5px;
			color: #fff;
			
			position:relative;
			margin-left: 25px;
			margin-right: 10px;

			overflow: hidden;

			transition: all ease 0.25s;

			top: -37px;
			left: 90px;

			&:before {
				position: absolute;
				transition: all ease 0.15s;
				background: #fff;
				padding: 1px;
				margin-top: -2px;
				margin-left: -2px;
				width: 18px;
				display: inline-block;
				height: 17px;
				content: ' ';
				overflow: hidden;
			}
			&:after {
				transition: all ease 0.15s;
				position: absolute;
				left: -20px;
				font-size: 11px;
				font-weight: 400;
				margin-top: 1px;
				content: 'ON\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0OFF';
				overflow: hidden;
			}
		}

		input[type=checkbox] {
			display: none;
		}

		input[type=checkbox]:checked + label.checktoggle {
			&:before {
				margin-left: 44px;
				content: ' ';
			}
			&:after {
				left: 15px;
			}
		}
	}
}

.question_tip {
	position: absolute;
	right: 17px;
	top: 16px;
	padding: 2px;
	border: 2px solid #fff;
	border-radius: 50px;
	width: 18px;
	text-align: center;
	opacity: 0.5;
	z-index: 500;

	font-family: 'Lato';

	transition: all 0.15s ease;

	&:hover {
		opacity: 1;
		background: #53a1d1;
		border: 2px solid #53a1d1;

		.qtip_box {
			z-index: 9999;
			opacity: 1;
			overflow: inherit;
			height: auto;
			width: 255px;
		}
	}

	.qtip_box {
		position: absolute;
		background: #53a1d1;
		border: 2px solid #53a1d1;
		z-index: -5;
		opacity: 0;
		font-size: 14px;
		color: #fff;
		text-align: left;
		height: 0px;
		width: 0px;
		overflow: hidden;
		top: 40px;
		right: -8px;
		padding: 0px 8px;
		font-weight: 300;

		border-radius: 5px;

		b {
			font-weight: 400;
		}

	}

	.qtip_box:after, .qtip_box:before {
		bottom: 100%;
		left: 93.5%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.qtip_box:after {
		border-color: rgba(83, 161, 209, 0);
		border-bottom-color: #53a1d1;
		border-width: 10px;
		margin-left: -10px;
	}

	.qtip_box:before {
		border-color: rgba(58, 29, 1, 0);
		border-bottom-color: #53a1d1;
		border-width: 13px;
		margin-left: -13px;
	}

}

.answer {
	font-size: 30px;

	display: block;
	width: 380px;
	height: 150px;
	background: #5b633e;

	padding: 5px;

	overflow: hidden;
	cursor: pointer;

	&.toolong {
		outline: 3px solid #f00;

		&:before {
			display: block;
			position: absolute;
			left: 0px;
			right: 8px;
			top: 0px;
			bottom: -2px;
			background: #f00;
			opacity: 0.3;
			content: ' ';
			z-index: 99;
			padding: 4px;
		}
		&:after {
			content: "This phrase won't fit on the gameboard";
			position:absolute;
			display: block;
			padding: 8px;
			color: #fff;
			background: #f00;
			top: 36%;
			left: 30%;
			font-size: 14px;
			z-index: 100;
			text-align: center;
			width: 130px;
		}
	}

	&:hover {
		outline: 3px solid $green;

		&:before {
			display: block;
			position: absolute;
			left: 0px;
			right: 8px;
			top: 0px;
			bottom: -2px;
			background: $green;
			opacity: 0.3;
			content: ' ';
			z-index: 99;
			padding: 4px;
		}
		&:after {
			font-family: 'icomoon';
			content: '\e600';
			position:absolute;
			display: block;
			padding: 20px;
			color: #fff;
			background: $green;
			top: 28%;
			left: 39%;
			font-size: 38px;
			z-index: 100;
			text-align: center;
			width: 40px;
			border-radius: 40px;
		}
	}

	.row {
		margin-bottom: 8px;

		.lbox {
			position: relative;
			width: 31px;
			height: 45px;
			display: inline-block;
			vertical-align: top;

			.letter {
				height: 35px;
				width: 32px;
				margin: 0px 60px 20px 0;
				color: #2d3e49;
				font-family: 'Montserrat';
				font-weight: bold;
				font-size: 24px;

				background: #eeeac0;
				border: 1px solid #cac395;
				text-align: center;
				
				vertical-align: top;
				line-height: 41px;

				&.space, &.punc {
					background: url("");
				}
			}
		}
	}
}

