<!DOCTYPE html>
<html lang="en" ng-app="HangmanCreator">
	<head>
		<title>Guess the Phrase Creator</title>
		<meta charset="utf-8">

		<!-- STYLESHEETS -->
		<link href="//fonts.googleapis.com/css?family=Lato:100,300,400|Montserrat:700|Purple+Purse" rel="stylesheet" type="text/css">
		<link href="creator.css" rel="stylesheet" type="text/css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.3/angular-sanitize.min.js"></script>
		<script src="assets/lib/hammer.min.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-cloak ng-controller="HangmanCreatorCtrl">
		<div id="modal"></div>
		<div id="header">
			<div class="logo"></div>
			<h1 id="title" ng-bind="title" ng-click="showTitleDialog = true"></h1>
			<div ng-click="showTitleDialog = true" class="link">Edit...</div>
			<span class="attempts">
				<p>Incorrect guesses per phrase</p>
				<div class="slide-btn">
					<div class="bar pos-{{attempts}}">
						<div ng-bind="attempts" class="circle"></div>
					</div>
					<div hammer-tap="setAttempts(3)" class="container thr">
						<div class="point thr">3</div>
					</div>
					<div hammer-tap="setAttempts(4)" class="container four">
						<div class="point four">4</div>
					</div>
					<div hammer-tap="setAttempts(5)" class="container five">
						<div class="point five">5</div>
					</div>
					<div hammer-tap="setAttempts(6)" class="container six">
						<div class="point six">6</div>
					</div>
					<div hammer-tap="setAttempts(7)" class="container svn">
						<div class="point svn">7</div>
					</div>
				</div>
			</span>
			<div class="random partial">
				<p>Randomize Order</p>
				<input type="checkbox" ng-checked=enableQuestionBank ng-disabled=enableQuestionBank id="randomize" ng-model="random">
				<label for="randomize" ng-class="{'disabled-look': enableQuestionBank}" class="checktoggle"></label>
				<div class="question-tip randomizer-tip">?
					<div class="qtip-box">
						<p>
							If <b>Question Bank</b> is on then the check to randomize order is disabled. This is because the question bank
							randomizes the question order already.
						</p>
					</div>
				</div>
			</div>
			
			<div class="partial">
				<p>Partial scoring</p>
				<input type="checkbox" id="partial" ng-model="partial">
				<label for="partial" class="checktoggle"></label>
				<div class="question-tip">?
					<div class="qtip-box">
						<p>
							If <b>partial scoring</b> is on then students will receive credit equal to the percentage of the phrase they reveal.
							When off students will receive a 100% if they guess the phrase correctly and a 0% otherwise.
						</p>
						<p>
							If the student doesn't reveal the phrase after the number of allowed <b>incorrect guesses</b> they move on to the next phrase.
						</p>
					</div>
				</div>
			</div>

			<button
				class="qb-button"
				ng-class= "{'gray-out': !enableQuestionBank}"
				ng-click="questionBankModal = !questionBankModal"
				ng-disabled="items.length === 0">
				Question Bank: {{enableQuestionBank === true ? "ON" : "OFF"}}
			</button>

			<div class="bottom"></div>
		</div>
		<div class="pagination" ng-show="numberOfPages() > 1">
			<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
			<span>{{currentPage+1}}/{{numberOfPages()}}</span>
			<button ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">Next</button>
		</div>
		<ul aria-label="questions">
			<li aria-hidden="true" ng-show="items.length" class="titles">
				<h3>Question</h3>
				<h3>Phrase</h3>
			</li>
			<li ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize" class="item" ng-class="{new: item.ques == ''}">
				{{
					questionIndex=$index+pageSize*currentPage;
					""
				}}

				<span class="num">{{questionIndex+1}}</span>

				<img ng-class="{shown:item.foc || item.editing}" src="assets/img/head-bubble.png">
				<span aria-label="hint" class="hint">
					<div ng-class="{shown:item.foc || item.editing}" class="arrow-left"></div>
					<textarea placeholder="Enter a hint here."
						value="{{item.ques}}"
						ng-focus="item.foc=true"
						ng-blur="item.foc=false"
						ng-model="item.ques"
						focus-me="shouldBeFocused(item)">
					</textarea>
				</span>
				<span aria-label="word" class="word">
					<textarea id="tarea_{{$index}}"
						value="{{item.ans}}"
						ng-model="item.ans"
						ng-change="updateForBoard(item)"
						ng-init="updateForBoard(item)"
						ng-blur="item.editing=false"
						ng-focus="item.editing=true"
						ng-enter="item.editing=false"
						ng-class="{ show: item.editing }"
						focus-me="item.editing">
					</textarea>
					<div ng-class="{ toolong: item.answer.string.length > 3 }"
						ng-show="!item.editing"
						ng-mousedown="editItem(item, $index)"
						class="answer">
						<div ng-show="!item.answer.string" class="protip">Click here to enter your phrase</div>
						<div ng-repeat="word in item.answer.string" class="row">
							<div ng-repeat="letter in word" class="lbox">
								<div ng-class="{ space: !isLetter(letter.letter) }" class="letter">{{ letter.letter }}</div>
							</div>
							<div ng-show="item.answer.dashes[$index]" class="lbox">
								<div class="letter space"></div>
							</div>
						</div>
					</div>
				</span>
				<button aria-label="delete"
					hammer-tap="removeItem(questionIndex)"
					ng-enter="removeItem(questionIndex)"
					class="delete">
					<span class="icon-close"></span>
					<span class="label">Remove</span>
				</button>
				<button aria-label="moveUp"
					hammer-tap="moveItemUp(questionIndex)"
					ng-enter="moveItemUp(questionIndex)"
					ng-disabled="questionIndex==0"
					class="moveUp">
					<span class="icon-arrow-up"></span>
					<span class="label">Move up</span>
				</button>
				<button aria-label="moveDown"
					hammer-tap="moveItemDown(questionIndex)"
					ng-enter="moveItemDown(questionIndex)"
					ng-disabled="questionIndex==items.length-1"
					class="moveDown">
					<span class="icon-arrow-down"></span>
					<span class="label">Move down</span>
				</button>
			</li>
		</ul>


		<button
			aria-label="add item"
			hammer-tap="newQuestion()"
			class="add-question"
			>
			<span class="icon-plus"></span> <span>Add Question</span>
		</button>

		<div class="pagination footer" ng-show="numberOfPages() > 1">
			<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
			<span>{{currentPage+1}}/{{numberOfPages()}}</span>
			<button ng-disabled="currentPage >= numberOfPages() - 1" ng-click="currentPage=currentPage+1">Next</button>
		</div>
		<div ng-show="!items.length &amp;&amp; step" class="arrow-box">
			<span>Click here to add your first question</span>
		</div>
		<div id="backgroundcover" ng-click="hideCover()" ng-class="{ show: showTitleDialog || showIntroDialog || questionBankModal }"></div>
		<div ng-class="{ show: showIntroDialog }" class="box intro">
			<img src="assets/creator_example.png">
			<h1>Guess the Phrase</h1>
			<p>Create quiz show questions and answers</p>
			<p>Define how many incorrect guesses students get per phrase</p>
			<p>Enable partial credit to give students credit for guessing some of the characters correctly</p>
			<hr>
			<b>Start by giving your Guess the Phrase widget a title</b>
			<input type="text" placeholder="My Guess the Phrase widget" autofocus="1" ng-enter="setTitle()" focus-me="showIntroDialog" ng-model="introTitle">
			<input type="button" value="Get Started" ng-click="setTitle()">
		</div>
		<div ng-class="{ show: showTitleDialog }" class="box title"><b>Give your Guess the Phrase widget a title</b>
			<input type="text" placeholder="My Guess the Phrase widget" ng-model="title" focus-me="showTitleDialog" ng-enter="hideCover()">
			<input type="button" value="Done" ng-click="hideCover()">
		</div>
		<div ng-class="{ show: questionBankModal }" ng-click= 'hideCover()' class="box question-bank-dialog">
			<h1>Question Bank</h1>
			<p>When the question bank is enabled, the widget can use a subset of phrases to create a randomized and unique experience every time the student hits play.</p>
			<div class="enable-qb-question">
				<label style="font-weight: bold;">Enable question bank? </label>
				<div class="enable-qb-options" ng-click="$event.stopPropagation()">
					<span>
						<input type="radio" ng-model="enableQuestionBank" ng-value=false> No</input>
						<input type="radio" ng-model="enableQuestionBank" ng-change="questionBankValTemp = questionBankVal = items.length" ng-value=true> Yes</input>
					</span>
				</div>
			</div>
			<div>
				<span ng-show="enableQuestionBank" >
					<label style="font-weight: bold;">How many phrases per play? </label>
					<div class="num-input-wrapper" ng-click="$event.stopPropagation()">
						<input class="num-input" type="number" ng-model="questionBankValTemp" ng-change="validateQuestionBankVal()" step="1">
						<span> out of {{items.length}} </span>
					</div>
				</span>
			</div>
			<button class="dialog-close-button"
			ng-click="questionBankModal = false"
			ng-disabled="questionBankValTemp < 1 || questionBankValTemp > items.length">Confirm</button>
		</div>

	</body>
</html>
